.card{
    width: 100%;
    max-height: clamp(156px, 5vw, 87px);
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 10px;

    background: var(--grey-1);

    border-radius: 4px;

    margin: 30px 0;

    .cardItem{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        gap: 30px;
        padding: 10px 0;

        border-radius: 5px;

        button{
            width: 49px;
            height: 19px;

            font-family: var(--font);
            font-weight: 400;
            font-size: .625rem;
            color: var(--grey-4);

            background: var(--grey-2);
            border-radius: 2px;
        }
    }
}

.green{
    border-left: 4px solid var(--color-secondary);
}
.grey{
    border-left: 4px solid var(--grey-3);
}